
{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block header %}
    <h2>Symfony IBA</h2>
{% endblock %}

{% block body %}
    <!--===CONTENT===-->
    <div id="box">
        
    </div>

{% endblock %}


